/* Header Styles */

header {
  
  text-align:center
  

}

/* Body Styles */

body {
  background-color:antiquewhite
}

ol {
  color: blue

}




footer {
    background-color: darkgray;
    margin: 200px 0 0 0;
    padding: 20px 0;
}
/* All the Text and Font Parameters */
h1, h2, h3 {
  font-family: arial
	color: #403933;
  text-align: center;
  font-weight: 500;
}

h1 { font-size: 28px; }
h2 { font-size: 26px; }
h3 { font-size: 18px; }

div {
  text-align:center
}

p {
  
  font-family: Arial, Helvetica, sans-serif
}

/* cool diamond horizontal */
hr {
  width: 15px;
  height: 15px;
  border: none;
  background: #000;
  color: #000;
  margin-top: 30px;
  margin-bottom: 20px;
  transform: rotate(45deg);
}

/* Links */
a:link {
 background-color: palegreen
}

a:visited {
 background-color: orchid
}

a:hover {
  background-color: yellow;
}

a:active {
  background-color: red
}